---
import CardGaleries from "../components/Galeries/CardGaleries.astro";
import ModalGaleries from "../components/Galeries/ModalGaleries";
import type { GaleryItem } from "../interface";
//import listGaleries from "../data/Galeries.data.json";
import Layout from "../layouts/Layout.astro";
import { strapiFetch } from "../utils/fetch";

const res = await strapiFetch(
  "/galeries?populate[image][fields][0]=url&populate=direction",
  {
    method: "GET",
  }
);

//console.log(res.data);

const listGaleries = res.data as GaleryItem[];
---

<Layout>
  <section class="w-full h-[320px] relative">
    <h1
      class="font-semibold text-4xl w-fit absolute left-1/2 top-1/2 -translate-1/2 z-10 text-white"
    >
      Galerias
    </h1>
    <img
      src="/image/Pixabay-347468.png"
      class="size-full object-cover bg-center brightness-50"
      alt=""
    />
  </section>
  <ul
    class="w-full max-w-[1200px] mx-auto gap-6 grid grid-cols-1 md:grid-cols-2 justify-between my-12 px-3 xl:px-0 "
  >
    {
      listGaleries.map((item) => (
        <CardGaleries
          title={item.title}
          image={item.image}
          direction={item.direction}
          id={item.id}
        />
      ))
    }
  </ul>
  <ModalGaleries
    transition:animate="slide"
    client:idle
    listGaleries={listGaleries}
  />
</Layout>
