---
import CardMap from "../components/Maps/CardMap/CardMap.astro";
import Map from "../components/Maps/Map/Map";
import SearchMap from "../components/Maps/SearchMap/SearchMap";
//import listBusiness from "../data/business.data.json";
import type { Business, BusinessItemCardMap } from "../interface";
import Layout from "../layouts/Layout.astro";
import { strapiFetch } from "../utils/fetch";


const addressQuery = Astro.url.searchParams.get("q");

const res = await strapiFetch(
  "/businesses?fields[0]=title&fields[1]=shortdescription&populate[imagelogo][fields][0]=url&populate[tags][fields][0]=*&populate[directions]=*",
  {
    method: "GET",
  }
);

//console.log(res.data);
const listBusiness = res.data;
---

<Layout>
  <div class="size-full">
    <Map client:visible addressQuery={addressQuery} />
    <div
      class="absolute bottom-2 left-1/2 -translate-x-1/2 flex flex-col gap-y-2"
    >
      <SearchMap />
      <ul class="flex gap-x-3 overflow-auto w-full max-w-[1200px]">
        {
          listBusiness.map((item: BusinessItemCardMap) => (
            <CardMap
              title={item.title}
              tags={item.tags}
              shortDescription={item.shortdescription}
              imageLogo={item.imagelogo.url}
              direction={item.directions}
            />
          ))
        }
      </ul>
    </div>
  </div>
</Layout>
