---
import type { Direction } from "../../../interface";
import ButtonCardMap from "../../UI/Buttons/ButtonCardMap.astro";
import Tag from "../../UI/Cards/Tag/Tag.astro";

interface PropCardMap {
  title: string;
  tags: string[];
  shortDescription: string;
  imageLogo: string;
  direction: Direction;
}
const { title, tags, shortDescription, imageLogo, direction } =
  Astro.props as PropCardMap;

const fullAddress = `${direction.street} ${direction.number}, ${direction.locality}, ${direction.province}, ${direction.country}`;

// 2. Codificamos la dirección para la URL
const encodedAddress = encodeURIComponent(fullAddress);

// 3. Creamos la URL para la página del mapa con el query 'q'
const mapPageUrl = `/maps?q=${encodedAddress}`;
---

<li class="bg-white rounded-xl w-fit h-fit shadow-lg flex gap-x-6 p-3">
  <a class="" href={`/userid/${title}`}>
    <div class="size-[180px] rounded-lg overflow-hidden">
      <img
        src={`./image/${imageLogo}`}
        class="size-full object-cover"
        alt={`image-${title}`}
        onerror="this.onerror=null; this.src='/image/no-image.png';"
      />
    </div>
  </a>
  <div class="w-[240px] flex flex-col gap-y-3">
    <h3 class="font-semibold text-xl tracking-normal truncate">{title}</h3>
    <ul class="flex gap-1 flex-wrap w-full">
      {tags.map((subItem) => <Tag title={subItem} />)}
    </ul>
    <p class="text-sm">{shortDescription}</p>
    <ButtonCardMap title="Ver negocio" link={mapPageUrl} />
  </div>
</li>
